
.tweet-name {
  font-weight: bold;
  text-shadow: #FFF 1px 1px 2px;
  
}

.tweet-text {
  background-color: #EEE;
  padding-left: 10px !important;
  padding-top: 25px !important;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -opera-border-radius:8px;
  -khtml-border-radius:8px;
  border-radius:8px;
  -moz-box-shadow: 5px 5px 7px #888;
  -moz-border-radius-bottomright: 15px;
  -webkit-box-shadow: 5px 5px 7px #888;
  -webkit-border-bottom-right-radius: 15px;
}

.tweet-image {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -opera-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}